$x-small: 0.25rem;
$small: 0.5rem;
$medium: 1rem;
$large: 2rem;
$x-large: 3rem;
$max-width: 1280px;
$col-padding: 0.5rem;
$medium-width-threshold: 750px;
$large-width-threshold: 1024px;

$col-span: 12;