$colorStep: 30%;
@mixin colorAlert($value: #e33) {
    .background-color-alert-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-alert {
        background-color: $value;
        fill: $value;
    }
    .background-color-alert-light {
        background-color: lighten($value, $colorStep);
        fill: ligthen($value, $colorStep);
    }
    .color-alert-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-alert {
        color: $value;
        stroke: $value;
    }
    .color-alert-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
}

@mixin colorConfirm($value: #3e3) {
    .background-color-confirm-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-confirm {
        background-color: $value;
        fill: $value;
    }
    .background-color-confirm-light {
        background-color: lighten($value, $colorStep);
        fill: lihgten($value, $colorStep);
    }
    .color-confirm-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-confirm {
        color: $value;
        stroke: $value;
    }
    .color-confirm-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
}

@mixin colorWhite($value: #fff) {
    .background-color-white-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-white {
        background-color: $value;
        fill: $value;
    }
    .background-color-white-light {
        background-color: lighten($value, $colorStep);
        fill: lighten($value, $colorStep);
    }
    .color-white-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-white {
        color: $value;
        stroke: $value;
    }
    .color-white-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
}

@mixin colorBlack($value: #333) {
    .background-color-black-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-black {
        background-color: $value;
        fill: $value;
    }
    .background-color-black-light {
        background-color: lighten($value, $colorStep);
        fill: lighten($value, $colorStep);
    }
    .color-black-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-black {
        color: $value;
        stroke: $value;
    }
    .color-black-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
}

@mixin color1($value: red) {
    .color-1-x-dark {
        color: darken($value, 2*$colorStep);
        stroke: darken($value, 2*$colorStep);
    }
    .color-1-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-1 {
        color: $value;
        stroke: $value;
    }
    .color-1-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
    .color-1-x-light {
        color: lighten($value, 2*$colorStep);
        stroke: lighten($value, 2*$colorStep);
    }
    .background-color-1-x-dark {
        background-color: darken($value, 2*$colorStep);
        fill: darken($value, 2*$colorStep);
    }
    .background-color-1-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-1 {
        background-color: $value;
        fill: $value;
    }
    .background-color-1-light {
        background-color: lighten($value, $colorStep);
        fill: lighten($value, $colorStep);
    }
    .background-color-1-x-light {
        background-color: lighten($value, 2*$colorStep);
        fill: lighten($value, 2*$colorStep);
    }
}

@mixin color2($value: green) {
    .color-2-x-dark {
        color: darken($value, 2*$colorStep);
        stroke: darken($value, 2*$colorStep);
    }
    .color-2-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-2 {
        color: $value;
        stroke: $value;
    }
    .color-2-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
    .color-2-x-light {
        color: lighten($value, 2*$colorStep);
        stroke: lighten($value, 2*$colorStep);
    }
    .background-color-2-x-dark {
        background-color: darken($value, 2*$colorStep);
        fill: darken($value, 2*$colorStep);
    }
    .background-color-2-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-2 {
        background-color: $value;
        fill: $value;
    }
    .background-color-2-light {
        background-color: lighten($value, $colorStep);
        fill: lighten($value, $colorStep);
    }
    .background-color-2-x-light {
        background-color: lighten($value, 2*$colorStep);
        fill: lighten($value, 2*$colorStep);
    }
}

@mixin color3($value: blue) {
    .color-3-x-dark {
        color: darken($value, 2*$colorStep);
        stroke: darken($value, 2*$colorStep);
    }
    .color-3-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-3 {
        color: $value;
        stroke: $value;
    }
    .color-3-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
    .color-3-x-light {
        color: lighten($value, 2*$colorStep);
        stroke: lighten($value, 2*$colorStep);
    }
    .background-color-3-x-dark {
        background-color: darken($value, 2*$colorStep);
        fill: darken($value, 2*$colorStep);
    }
    .background-color-3-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-3 {
        background-color: $value;
        fill: $value;
    }
    .background-color-3-light {
        background-color: lighten($value, $colorStep);
        fill: lighten($value, $colorStep);
    }
    .background-color-3-x-light {
        background-color: lighten($value, 2*$colorStep);
        fill: lighten($value, 2*$colorStep);
    }
}

@mixin color4($value: cyan) {
    .color-4-x-dark {
        color: darken($value, 2*$colorStep);
        stroke: darken($value, 2*$colorStep);
    }
    .color-4-dark {
        color: darken($value, $colorStep);
        stroke: darken($value, $colorStep);
    }
    .color-4 {
        color: $value;
        stroke: $value;
    }
    .color-4-light {
        color: lighten($value, $colorStep);
        stroke: lighten($value, $colorStep);
    }
    .color-4-x-light {
        color: lighten($value, 2*$colorStep);
        stroke: lighten($value, 2*$colorStep);
    }
    .background-color-4-x-dark {
        background-color: darken($value, 2*$colorStep);
        fill: darken($value, 2*$colorStep);
    }
    .background-color-4-dark {
        background-color: darken($value, $colorStep);
        fill: darken($value, $colorStep);
    }
    .background-color-4 {
        background-color: $value;
        fill: $value;
    }
    .background-color-4-light {
        background-color: lighten($value, $colorStep);
        fill: lighten($value, $colorStep);
    }
    .background-color-4-x-light {
        background-color: lighten($value, 2*$colorStep);
        fill: lighten($value, 2*$colorStep);
    }
}

@include colorAlert();
@include colorConfirm();
@include colorWhite();
@include colorBlack();
@include colorWhite();
@include color1();
@include color2();
@include color3();
@include color4();